﻿@using Microsoft.AspNetCore.Http.Features
@using RestrictIpDemo.Core
@using Microsoft.AspNetCore.Http
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@Model.Value("someText")
<h1>@Context.Connection.RemoteIpAddress.ToString()</h1>
@{
    var serverVariables = Context.Features.Get<IServerVariablesFeature>();
    var serverVariableKeys = new List<string>() {"HTTP_HOST", "HTTP_UC_REQUESTED_HOST" };
    foreach (var serverVariableKey in serverVariableKeys)
    {
        <h3>@($"{@serverVariableKey} : {@serverVariables[serverVariableKey]}")</h3>
    }
}
@foreach(var header in Context.Request.Headers)
{
    <h4>@($"{@header.Key} : {@header.Value}")</h4>
}
